.file-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

button.file-item-container,
button.file-item-container:focus,
button.file-item-container:hover
 {
  display: flex;
  align-items: center;
  padding: 0 12px;
  width: 100%;
  font-size: 14px;
  color: #acb2be;
  cursor: pointer;
}
button.file-item-container:hover {
  background-color: #41475380;
}
button.file-item-container:focus {
  color: #d8dadf;
  background-color: #41475380;
  box-shadow: inset 0 0 0 1px #3f4451;
}
button.file-item-container__active {
  background-color: #41475380;
}

.file-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 22px;
  border-left: 1.2px solid #3f4451;
}

.file-item-space {
  margin-left: auto;
  padding: 0 2px;
  width: 0;
  height: 0;
}

.file-icon {
  margin-right: 4px;
  font-size: 14px;
}

.file-info {
  flex: 1;
  width: 0;
  text-align: left;
  overflow: hidden;
  word-break: keep-all;
  text-overflow: ellipsis;
}

.file-path {
  margin-left: 4px;
  font-size: 12px;
  color: #868b96;
}

.file-operation {
  display: none;
  align-items: center;
  margin-right: 4px;
  height: 100%;
  color: #d8dadf;
}
button.file-item-container__active .file-operation,
button.file-item-container:hover .file-operation,
button.file-item-container:focus .file-operation {
  display: flex;
}

.file-operation button {
  height: 100%;
  aspect-ratio: 1 / 1;
}
.file-operation button:hover {
  background-color: #41475380;
  border-radius: 4px;
}

.file-status-D,
.file-status-M,
.file-status-U {
  font-size: 12px;
  font-weight: 600;
}
.file-status-D {
  color: #93493b;
}
.file-status-M {
  color: #ad9978;
}
.file-status-U {
  color: #71a17f;
}